.modal
{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    z-index: 5;
}
.layout
{

    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    z-index: 5;

}
.modal-form
{
    position: relative;
    width: 400px;
    margin: auto;
    background-color: #fff;
    z-index: 5;


}
.header-modal-form
{
    margin-top: 24px;
    margin-left: 16px;
    margin-right: 16px;
    display: flex;
    justify-content: space-between;
}
.register1
{
font-size: 25px;
font-weight: 1000;
}
.login1
{
    font-size: 20px;
    color: #EF5122;
    cursor: pointer;
    font-weight: 700;
}
.container1-modal-form
{
    margin-top: 16px;
    margin-left: 30px;
    

}
.input
{
    height: 26px;
    width: 90%;
    margin-top: 16px;
}
.container2-modal-form
{
    margin-top: 40px;
    display: flex;
    justify-content: flex-end;
}
.back
{

    text-decoration: none;
    font-size: 20px;
    border: none;
    margin-right: 16px;
    color: #333;
    background-color: #fff;
    padding: 12px;
    cursor: pointer;
}
.back:hover
{
    background-color: rgb(161, 193, 183);
}
.continue
{
    text-decoration: none;
    font-size: 16px;
    border: none;
    margin-right: 30px;
    background-color: #EF5122;
    color: #fff;
    padding: 12px;
    opacity: 1;
    cursor: pointer;
}
.continue:hover
{
    opacity: 0.9;
}
.container3-modal-form
{
margin-left: 40px;
}
.container4-modal-form
{
    display: flex;
    margin-left: 30px;
}
.gach1
{
    margin-right: 15px;
}
.gach2
{
    margin-left: 15px;
}
.hoac
{
    margin-top: 5px;
    margin-right: 9px;
}
.container5-modal-form
{
    display: flex;
    margin-bottom: 20px;
    margin-top: 15px;
   
}
.facebook
{
    padding-right: 15px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    color: #fff;
    background: linear-gradient(180deg, hsl(216.09756097560975,100%,45%) 0%, hsl(216.09756097560975,70%,35%) 100%);
    cursor: pointer;
}
.facebook:hover
{
    opacity: 0.8;
}
.google
{

    padding-right: 15px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    border-style: solid;
    border-color: #333;
    cursor: pointer;
}
.google:hover
{
    opacity: 0.8;
}
.icon
{
    margin-right: 15px;
    margin-left: 15px;
}
.rule
{
    text-decoration: none;
    color: #EF5122;
}