
.Notifications
{

    display: flex;
    top: 32px;
    right: 32px;
    position: fixed;
    align-items: center;
    justify-content: center;
    border-color: rgb(238, 217, 217);
    border-style: solid;
    border-radius: 10px;
    border-width: 3px;
    width: 400px;
    height: 80px;
    border-left-color: green;
    border-left-width: 7px;
    padding-top: 15px;
    background-color: #fff;
    animation: SideInLeft ease 2s, fadeout 1s 4s forwards;

}
@keyframes SideInLeft
{
    from
    {
        opacity: 0.3;
        transform: translateX(calc(100% + 400px));
    }
    to
    {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes fadeout
{
    from
    {
    opacity: 1;
    transform: translateX(0);
    }
    to
    {
        opacity: 0;
    }
}

.icon1
{
    margin-right: 10px;
    font-size: 30px;
    background-color: green(170, 170, 253);
    border-radius: 50%;
   
   
}
.paragrah
{
    width: 300px;
    height: 100px;
}
.icon2
{
    font-size: 30px;
    opacity: 0.5;
    margin-left: 20px;
    cursor: pointer;
}
