#Notifications
{
    position: fixed;
    top:  32px;
    right: 32px;

}
.Notifications
{

    display: flex;
    align-items: center;
    justify-content: center;
    border-color: rgb(238, 217, 217);
    border-style: solid;
    border-radius: 10px;
    border-width: 3px;
    margin-top: 20px;
    margin-right: 500px;
    margin-left: 500px;
    width: 400px;
    height: 80px;
    border-left-color: green;
    border-left-width: 7px;
    padding-top: 15px;
    box-shadow: 0, 5px, 8px, rgb(17, 1, 1, 0.08);
    background-color: #fff;


}
.icon1
{
    margin-right: 10px;
    font-size: 30px;
    background-color: green(170, 170, 253)
    border-style: solid;
    border-radius: 50%;
   
}
.paragrah
{
    width: 300px;
    height: 100px;
    font-style: normal;
}
.icon2
{
    font-size: 30px;
    opacity: 0.5;
    margin-left: 20px;
    cursor: pointer;
}
.Notifications1
{

    display: flex;
    align-items: center;
    justify-content: center;
    border-color: rgb(238, 217, 217);
    border-style: solid;
    border-radius: 10px;
    border-width: 3px;
    margin-top: 20px;
    margin-right: 500px;
    margin-left: 500px;
    width: 400px;
    height: 80px;
    border-left-color: green;
    border-left-width: 7px;
    padding-top: 15px;
    box-shadow: 0, 5px, 8px, rgb(17, 1, 1, 0.08);
    background-color: #fff;

}
.icon3
{
    margin-right: 10px;
    font-size: 30px;
    background-color: rgb(120, 118, 234)
    border-style: solid;
    margin-bottom: 20px;
   
}
.icon4
{
    font-size: 30px;
    opacity: 0.5;
    margin-left: 40px;
    cursor: pointer;
}
.Notifications2
{
    margin-top: -140px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-color: rgb(238, 217, 217);
    border-style: solid;
    border-radius: 10px;
    border-width: 3px;
    margin-top: 20px;
    margin-right: 500px;
    margin-left: 500px;
    width: 400px;
    height: 80px;
    border-left-color: green;
    border-left-width: 7px;
    padding-top: 15px;
    background-color: #fff;

}
.icon5
{
    margin-right: 10px;
    font-size: 30px;
    background-color: green;
    border-style: solid;
    margin-bottom: 20px;
    
}
.icon6
{
    font-size: 30px;
    opacity: 0.5;
    margin-left: 40px;
    cursor: pointer;
}
html
{
    background-color: #fff;
}
.css1
{
    background-color: rgb(203, 206, 209);
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;

}
